{% extends "base.html" %} {% block base %} {% load static %}
<div class="row full_fit">
  <div id="left_col" class="column">
    <img id="logo" src="{% static 'customerapp/assets/logo.png' %}" />
  </div>
  <div id="right_col">
    <div id="form-container">
      <form class="column">
        <h1>Welcome</h1>
        <span>
          Don't have an account?
          <button>Register</button>
        </span>
        <label>Email:</label>
        <input />
        <div>
          <label>Password:</label>
          <a>Forgot Password?</a>
        </div>
        <input />
        <div class="row">
          <input type="checkbox" />
          <label>Remember me</label>
        </div>
        <h3>reCaptcha</h3>
        <button>Sign in</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
