{% extends "base.html" %} {% block base %} {% load static %}
<div class="row full_fit">
  <div id="left_col" class="column">
    <img id="logo" src="{% static 'customerapp/assets/logo.png' %}" />
  </div>
  <div id="right_col">
    <div id="login-form-container">
      {% if messages %} {% for message in messages %} {{ message }} {% endfor %}
      {% endif %}
      <form
        id="login-form"
        class="column apart-children"
        method="POST"
        enctype="multipart/form-data"
        action="/app/login/"
      >
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <h1>Welcome</h1>
        <a href="/app/signup"> Don't have an account? Click here to signup!</a>
        <label for="username">Username:</label>
        <input name="username" type="text" required />
        <div>
          <label for="password">Password:</label>
          <a>Forgot Password?</a>
        </div>
        <input name="password" type="password" required />
        <div class="row">
          <input type="checkbox" />
          <label>Remember me</label>
        </div>
        <h3>reCaptcha</h3>
        {% if login_error_message %}
        <span>{{ login_error_message }}</span>
        {% endif %}
        <button type="submit" value="Submit" name="Submit">Sign in</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
