{% extends "layout.html" %} {% block layout %}

<div id="container" class="column">
  <div id="card-header" class="row">
    <div class="column">
      <h3>DTC Search</h3>
      <span>Search DTCs to find their descriptions</span>
    </div>
    <form class="row">
      <div id="search-box" class="row">
        <input type="text" placeholder="Search..." />
      </div>
      <button type="submit" id="search-button">Search</button>
    </form>
  </div>
  <div id="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>CODE</th>
          <th>DESCRIPTION</th>
        </tr>
      </thead>
      <tbody>
        {% for dtc in dtc_data.dtc_list %}
        <tr class="table-data-row">
          <td><span class="dtc-code-span">{{ dtc.code }}</span></td>
          <td>{{ dtc.desc }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
