{% extends "layout.html" %} {% block layout %}

<div id="container" class="column">
  {% if messages %} {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %} {% endif %}
  <div id="card-header" class="row apart-children">
    <div id="processed-files-tab"
    {% if not boughts_open %}
      class="card-header-tab column active-tab"
      {% else %}
      class="card-header-tab column"
    {% endif %} >
      <span>Requested files</span>
      <span>Files uploaded by you and requested to be processed</span>
    </div>
    <div id="bought-files-tab" 
    {% if boughts_open %}
      class="card-header-tab column active-tab"
      {% else %}
      class="card-header-tab column"
    {% endif %} >
      <span>Bought files</span>
      <span>Files bought from shop</span>
    </div>
  </div>
  <div id="card-body" class="columns">
    <p>Click on the items to see the details...</p>
    <hr />
    <div
      id="requested-files-page"
      {%
      if
      boughts_open
      %}
      style="display: none"
      {%
      endif
      %}
    ></div>
    <div
      id="bought-files-page"
      {%
      if
      not
      boughts_open
      %}
      style="display: none"
      {%
      endif
      %}
    ></div>
  </div>
</div>

{% endblock %}
