{% extends "layout.html" %} {% block layout %}
<div id="container" class="column">
  <div id="card-header">
    <h3>Knowledgebase</h3>
    <span>
      Search our knowledgebase for help with common questions/problems
    </span>
  </div>
  <div id="card-body">
    <table>
      <thead align="left">
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for know in knowledge_data %}
        <tr class="row apart-children">
          <td class="title-td">{{ know.title }}</td>
          <td>
            <button id="{{ know.id }}" class="knowledge-button">View</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
