{% extends "layout.html" %} {% block layout %}

<div id="container" class="column">
  <div id="card-header" class="row apart-children">
    <div id="select-vehicle-tab" class="card-header-tab column active-tab">
      <span>Step 1: Vehicle details & file</span>
      <span>Select the vehicle and upload the file</span>
    </div>
    <div id="select-options-tab" class="card-header-tab column">
      <span>Step 2: Select the options</span>
      <span>Select processing options and drop a description below</span>
    </div>
  </div>
  <div id="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}
    <form
      id="file-request-form"
      method="post"
      enctype="multipart/form-data"
      action="{% url 'upload' %}"
    >
      {% csrf_token %}
      <div id="select-vehicle-card" class="column">
        <div class="row">
          <div class="column">
            <div>Upload file</div>
            <input
              type="file"
              id="file-input"
              name="original_file"
              data-max-file-size="20M"
              data-allowed-file-extensions="bin fpf dec unq cod mpc fls ori org mod zip rar tun pak slave dat dtf rar file fpf mmf bdc moc txt bak bdc sbdc"
            />
            <select id="file-type-select" name="file_type">
              <option value="null" disabled selected hidden>
                Choose a file type
              </option>
              <option value="E">ECU File</option>
              <option value="T">Transmission File</option>
            </select>
          </div>
          <div id="vehicle-select-section" class="column">
            <div>Select Vehicle</div>
            <select id="vehicle-category-select-1" name="vehicle_category">
              <option value="null" disabled selected hidden>
                Choose a vehicle category
              </option>
              {% for category in vehicle_category_list %}
              <option value="{{ category.id }}">{{ category }}</option>
              {% endfor %}
            </select>

            <select id="vehicle-brand-select-2" disabled name="vehicle_brand">
              <option value="null" disabled selected hidden>
                Choose a vehicle brand
              </option>
            </select>

            <select id="vehicle-model-select-3" disabled name="vehicle_model">
              <option value="null" disabled selected hidden>
                Choose a vehicle model
              </option>
            </select>

            <select id="vehicle-year-select-4" disabled name="vehicle_year">
              <option value="null" disabled selected hidden>
                Choose a vehicle year
              </option>
            </select>

            <select id="vehicle-version-select-5" disabled name="vehicle_version">
              <option value="null" disabled selected hidden>
                Choose a vehicle version
              </option>
            </select>

            <select id="ecu-type-select-6" disabled name="ecu_type">
              <option value="null" disabled selected hidden>
                Choose an ecu type
              </option>
            </select>

            <select id="transmission-type-select" name="transmission_type">
              <option value="null" disabled selected hidden>
                Choose a transmission type
              </option>
              <option value="A">Auto</option>
              <option value="M">Manual</option>
            </select>

            <select id="tool-select" name="tool">
              <option value="null" disabled selected hidden>
                Choose a connection tool
              </option>
              {% for tool in connection_tool_list %}
              <option value="{{ tool.id }}">{{ tool }}</option>
              {% endfor %}
            </select>

            <select id="tool-type-select" name="tool_type">
              <option value="null" disabled selected hidden>
                Choose a tool type
              </option>
              <option value="M">Master</option>
              <option value="S">Slave</option>
            </select>
          </div>
        </div>
        <input id="continue-button" type="button" value="Continue" />
        <div id="proceeding-error">
          Please fill all areas of the form before proceeding!
        </div>
      </div>
      <div id="select-options-card" class="row pasive-card">
        <div id="price-options-form"></div>
        <div id="calculator-box" class="column">
          <div id="calculator-header">Price</div>
          <div id="calculator-body">
            <div id="choice-content">
              <ul id="selected-services">
                <li id="tax-li" class="price-li">
                  <div class="row apart-children">
                    <div>
                      Taxes
                      <span id="tax-percentage-span">{{ tax_percentage }}</span
                      >%
                    </div>
                    <div><span id="tax-amount-span">5</span>$</div>
                  </div>
                </li>
              </ul>
              <div id="price-total" class="row apart-children">
                <span>Total:</span>
                <div><span id="total-amount-span">0</span>$</div>
              </div>
            </div>
            <div id="no-choice-content">Please select some options</div>
          </div>
        </div>
        <textarea
          name="customer_description"
          maxlength="400"
          minlength="50"
          placeholder="Please provide more information about your request and explain further..."
          required
        ></textarea>
        <input type="submit" />
      </div>
    </form>
  </div>
</div>

{% endblock layout %}
