{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page_title }}</title>
    <meta name="description" content="Add your meta description here." />
    <meta name="keywords" content="Add your meta keywords here." />
    <link rel="stylesheet" href="{% static 'customerapp/styles/common.css' %}" />
    {% for css in styling_files %}
      <link rel="stylesheet" href="{% static 'customerapp/styles/' %}{{ css }}" />
    {% endfor %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body>
    <div id="modal-background"></div>
    {% block base %}
    {% endblock base %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    {% for script in script_files %}
      <script type="module" src="{% static 'customerapp/scripts/' %}{{ script }}"></script>
    {% endfor %}
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>
