# .gitignore
**/__pycache__/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
# autoremover/uploads/
# autoremover/autoremover-edd1f50d0eac.json
# autoremover/Dockerfile
# autoremover/.dockerignore
autoremover/staticfiles/
# autoremover/autoremover/.ssh/
localenv/
autoremover/node_modules/
autoremover_db_initial_data/
