{% extends "layout.html" %}
{% block layout %}
  <div id="container" class="column">
    <div id="card-header" class="row">
      <div class="column">
        <h3>DTC Search</h3>
        <span>Search DTCs to find their descriptions</span>
      </div>
      <form class="row">
        <div id="search-box" class="row">
          <input id="search-input" type="text" placeholder="Search..." />
        </div>
        <button type="submit" id="search-button">Search</button>
      </form>
    </div>
    <div id="card-body"></div>
  </div>
{% endblock layout %}
