#container {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

#card-header {
  justify-content: space-between;
  padding: 20px;
  border-bottom: rgb(236, 231, 231) 1px solid;
}

#search-box {
  height: 35px;
  border: grey 1px solid;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1px;
}

input {
  border: none;
  outline: none;
  margin-left: 3px;
}

h3 {
  margin: 0;
}

#card-body {
  padding: 20px;
}

.table {
  margin: auto;
  width: 100%;
}

.table td {
  border-top: rgb(236, 231, 231) 1px solid;
  height: 50px;
}

.table th {
  text-align: left;
}

.dtc-code-span {
  background-color: #ebedf3;
  border-radius: 5px;
  padding: 5px;
}

#search-button {
  border-radius: 5px;
  background-color: #fff;
  border: grey 1px solid;
  margin-left: 5px;
}

#search-button:hover {
  cursor: pointer;
  background-color: grey;
}
