#container {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

#card-header {
  justify-content: space-between;
  padding: 20px;
  border-bottom: rgb(236, 231, 231) 1px solid;
}

#card-body {
  padding: 20px;
}
