#container {
  border-radius: 10px;
}

#card-header {
  height: 80px;
}

.card-header-tab {
  width: 50%;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  background-color: #f3f6f9;
}

.card-header-tab:hover {
  cursor: pointer;
  border: rgb(236, 231, 231) 1px solid;
}

.active-tab {
  pointer-events: none;
  background-color: #fff;
  box-shadow: 0px -25px 30px 5px rgba(82, 63, 105, 0.08) !important;
  z-index: 2;
}

#card-body {
  background-color: #fff;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.search-box {
  height: 35px;
  border: grey 1px solid;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1px;
}

input {
  border: none;
  outline: none;
  margin-left: 3px;
}

.search-button {
  border-radius: 5px;
  background-color: #fff;
  border: grey 1px solid;
  margin-left: 5px;
}

.search-button:hover {
  cursor: pointer;
  background-color: grey;
}

form {
  margin-bottom: 20px;
}

.file-num-span {
  background-color: #ebedf3;
  border-radius: 5px;
  padding: 5px;
}

.table {
  margin: auto;
  width: 100%;
}

.table td {
  border-top: rgb(236, 231, 231) 1px solid;
  height: 50px;
}

.table th {
  text-align: left;
}

#current-page-button {
  background-color: #1bc5bd;
}

#pagination-ul {
  list-style-type: none;
}

.pagination-li {
  margin: 5px;
}

.download-div {
  width: 50%;
  margin: auto;
}
