#container {
  border-radius: 10px;
}

#card-header {
  height: 80px;
}

.card-header-tab {
  width: 50%;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  background-color: #f3f6f9;
}

.card-header-tab:hover {
  cursor: pointer;
  border: rgb(236, 231, 231) 1px solid;
}

.active-tab {
  pointer-events: none;
  background-color: #fff;
  box-shadow: 0px -25px 30px 5px rgba(82, 63, 105, 0.08) !important;
  z-index: 2;
}

#card-body {
  background-color: #fff;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

select {
  margin: 20px;
}

.pasive-card {
  display: none;
}

#proceeding-error {
  color: red;
  display: none;
}

.price-option-label {
  justify-content: space-between;
  width: 90%;
  background-color: #8648e7;
}

#price-options-form {
  width: 70%;
}

.price-option-box {
  width: 100%;
}

#calculator-header {
  border-radius: calc(0.42rem - 1px) calc(0.42rem - 1px) 0 0;
  background-color: #8950fc;
  padding: 10px;
  width: 90%;
  height: 20px;
}

#selected-services {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 5px;
}

.price-li {
  border-bottom: rgb(236, 231, 231) 1px solid;
  margin-top: 10px;
}
