{% extends 'modal_layout.html' %} {% block modal_layout %}

<table class="table">
  <thead>
    <tr>
      <th>CODE</th>
      <th>DESCRIPTION</th>
    </tr>
  </thead>
  <tbody>
    {% for dtc in data %}
    <tr class="table-data-row">
      <td><span class="dtc-code-span">{{ dtc.code }}</span></td>
      <td>{{ dtc.desc }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="row apart-children">
  <ul class="row">
    <li class="pagination-li">
      <button
        id="previous-page-button"
        class="pagination-button"
        {%
        if
        previous_page_disabled
        %}
        disabled
        {%
        endif
        %}
      >
        Previous page
      </button>
    </li>
    {% for page in page_list %} {% if page == current_page %}
    <li id="current-page-li" class="pagination-li"></li>
    {% else %}
    <li class="pagination-li"></li>
    {% endif %} {% endfor %}
    <li class="pagination-li">
      <button
        id="following-page-button"
        class="pagination-button"
        {%
        if
        following_page_disabled
        %}
        disabled
        {%
        endif
        %}
      >
        Next page
      </button>
    </li>
  </ul>
  <span>Showing {{ start_index }} - {{ end_index }} of {{ data_amount }}</span>
</div>

{% endblock %}
