<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Vehicle</th>
        <th>ECU</th>
        <th>Process</th>
        <th>Requested at</th>
        <th>Last updated</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% if requested_file_data %}
      {% for file in requested_file_data %}
      <tr class="table-data-row">
        <td><span class="file-num-span">{{ file.num }}</span></td>
        <td>{{ file.vehicle }}</td>
        <td>{{ file.ecu }}</td>
        <td>{{ file.process }}</td>
        <td>{{ file.requested_at }}</td>
        <td>{{ file.updated_at }}</td>
        <td>{{ file.status }}</td>
      </tr>
      {% endfor %}
    {% else %}
        <div>No files available</div>
    {% endif %}
    </tbody>
  </table>
  <div class="row apart-children">
    <ul id="pagination-ul" class="row">
      <li class="pagination-li">
        <button
          id="previous-page-button"
          class="pagination-button"
          {% if previous_page_disabled %}
          disabled
          {% endif %}
        >
          Previous page
        </button>
      </li>
      {% for page in page_list %} 
      <li {% if page == current_page %} id="current-page-li" {% endif %} class="pagination-li">
          <button 
          {% if page == current_page %} id="current-page-button" {% endif %}
          class="pagination-button">
            {{ page }}
          </button>
      </li>
       {% endfor %}
      <li class="pagination-li">
        <button
          id="following-page-button"
          class="pagination-button"
          {% if following_page_disabled %}
          disabled
          {% endif %}
        >
          Next page
        </button>
      </li>
    </ul>
    <span>Showing {{ start_index }} - {{ end_index }} of {{ data_amount }}</span>
  </div>
  