<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">Select</th>
            <th scope="col" class="px-6 py-3">Ecu Type</th>
            <th scope="col" class="px-6 py-3">Brand</th>
        </tr>
    </thead>
    <tbody>
        {% for ecu in ecu_types %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">
                    <input type="checkbox"
                           id="ecu-type-{{ ecu.id }}"
                           value="{{ ecu.id }}"
                           class="ecu-type-checkbox"
                           name="ecu_type_selection" />
                </td>
                <td class="px-6 py-4" id="ecu-name-td-{{ ecu.id }}">{{ ecu.name }}</td>
                <td class="px-6 py-4" id="ecu-brand-td-{{ ecu.id }}">{{ ecu.brand_name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div id="ecu-pagination-div">{% include "modals/pagination.html" %}</div>
