<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">Category</th>
            <th scope="col" class="px-6 py-3">Brand</th>
            <th scope="col" class="px-6 py-3">Model</th>
            <th scope="col" class="px-6 py-3">Version</th>
            <th scope="col" class="px-6 py-3">Year</th>
            <th scope="col" class="px-6 py-3">Ecu Type</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicle_data.data %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">{{ vehicle.vehicle_category }}</td>
                <td class="px-6 py-4">{{ vehicle.vehicle_brand }}</td>
                <td class="px-6 py-4">{{ vehicle.vehicle_model }}</td>
                <td class="px-6 py-4">{{ vehicle.vehicle_year }}</td>
                <td class="px-6 py-4">{{ vehicle.vehicle_version }}</td>
                <td class="px-6 py-4">{{ vehicle.ecu_model }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div id="vehicle-pagination-div">{% include "panelapp/modals/vehicle_pagination.html" %}</div>
